@import './transition.scss';
@import './sidebar.scss';
body {
  height: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
  color: #333;
}

label {
  font-weight: 700;
}

html {
  box-sizing: border-box;
}
a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  outline: none;
  text-decoration: none;
}

div:focus {
  outline: none;
}
ul{
  list-style: none;
  margin: 0;
  padding: 0;
}
a:focus,
a:active {
  outline: none;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
}

.clearfix {
  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
}

::-webkit-scrollbar{
  width: 6px;
  height: 10px;
  background-color: #fff;
}
::-webkit-scrollbar-track{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.2);
  border-radius: 10px;
  background-color: #fff;
}

::-webkit-scrollbar-thumb{
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.2);
  background-color: #e6e6e6;
}

.el-button--primary{
  background:#004ea2;
  border-color: #004ea2;
}

/*新用到的*/
.app-main {
  padding-top: 20px;
  padding-left: 140px;
  box-sizing: border-box;
  width: 1060px;
  min-height: 400px;
}

/* 头部 */
.des-header{
  width: 100%;
  height: 50px;
  margin: 0 auto;
  padding: 0;
  background: #004EA2;
  overflow: hidden;
}
.des-header-left{ float: left;}
.des-header-left .des-logo{ float: left; display:block; margin: 0 auto; width: 200px;height: 50px;}
.des-header-left .des-nav{ float: left;height: 50px; line-height: 50px;vertical-align: middle;}
.des-header-left .des-nav ul{ background: none;height: 50px;
line-height: 50px;}
.des-nav .el-menu-item{
  height: 50px;
  line-height: 50px;
}
.des-nav .el-submenu .el-submenu__title{
  height: 50px;
  line-height: 50px;
  border-bottom: none;
}
.des-nav .el-menu-item,
.des-nav .el-menu-item.is-active,
.des-nav .el-menu-item:hover{ 
  color: #fff !important;
  background: none !important;
}
.des-nav .el-menu-item:hover{
  color: #e3e3e3 !important;
}
.des-nav .el-submenu.is-active .el-submenu__title,
.des-nav .el-submenu.is-opened .el-submenu__title,
.des-nav .el-submenu:hover .el-submenu__title,
.des-header-left .des-nav ul .el-submenu__title{
  color: #Fff;
  background: none;
}
.des-nav .el-menu.el-menu--horizontal{
  border-bottom: none;
}
.des-header-right {
float: right;
}
.des-header-right ul {
width: auto;
}
.des-header-right ul li {
float: left;
min-width: 60px;
position: relative;
}
.des-admininfo {
margin: 7px auto;
}
.des-admininfo img {
  float: left;
  width: 36px;
  margin: 0 auto;
}
.des-admininfo p {
  float: right;
  font-size: 10px;
  color: #fff;
  height: 36px;
  line-height: 36px;
  padding: 0 10px;
  margin: 0;
  vertical-align: middle;
}
.des-index-icon {
  height: 25px;
  margin: 12px 0;
  border-left: #3c7db9 1px solid;
}
.des-index-icon img {
  width: 24px;
  display: block;
  margin: 0 auto;
}
